<td>{{course.id}}</td>
<td>{{course.name}}</td>
<td>
  <button type="button" class="btn btn-primary details" routerLink="{{dbType}}/{{course.id}}/details">Details</button>
</td>
<td>
  <button type="button" class="btn btn-danger delete" (click)="openModal(template)">Delete</button>
</td>

<ng-template #template class="template">
  <div class="modal-body text-center confirmAnalog">
    <p id="analog-question">Are you sure you want to delete this course?</p>
    <p>Name: {{course.name}}, ID: {{course.id}}</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete(course.id, dbType)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>