<div class="container">
<ul class="nav nav-pills">
  <li role="presentation" routerLinkActive="active">
    <a id="studentsLink" routerLink="/students" id="students-home-link" >Students</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a id="teachersLink" routerLink="/teachers" id="teachers-home-link" >Teachers</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a id="coursesLink" routerLink="/courses" id="courses-home-link" >Courses</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/add-student" id="add-student-link" >Add Student</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="/add-teacher" id="add-teacher-link" >Add Teacher</a>
  </li>
</ul>
</div>